/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

/* Light Theme (Default) */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme */
body.dark {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
}

/* Apply Variables Globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
